<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" enctype="multipart/form-data" action="/upload/">
    <table>
        <tr><td>Picture to upload:</td><td></td><td> <input type="file" name="file"/></td></tr>
        <tr><td></td><td><input type="submit" value="Upload"/></td></tr>
    </table>
</form>

</body>
</html>