body {
    font-family: actor;
}
.container {
    border:1px solid #000;
    background-color: LavenderBlush;
    color: teal;
    height:400px;
    width:600px;
    margin-top: 100px;

  }
.login {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 5px;
}
nav{
    margin-bottom: 30px;
}
.user-nav {
    float:right;
}
.button {
  background-color: LightGrey; /* Green */
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}
.form-control {
  height:5px;
}
.background{
    background-image: url('background.jpg');
}
.btn-default{
    background-color: LightGrey !important;
    color: #0D9E69;
    font-family: 'Barrio', cursive;
    border-radius: 0px;
    font-size: 15px !important;
    background-image: none !important;
}
.table {

}