body {
    font-family: actor;
}
.container {
    border:1px solid #000;
    background-color:#FFF;
    background-image: url('\my-best-friend\src\main\resources\static\images\background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:400px;
    width:600px;
    margin-top: 100px;
  }
.login {
    position: absolute;
    left: 5px;
}
nav{
    margin-bottom: 30px;
}
.user-nav {
    float:right;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.form-control {
  height:5px;
}