<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Best Friend</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap//css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navigation">

    <nav th:if="${userId}">
        <div class="nav nav-pills" style="text-align:right" >
            <a href="/">My Pets</a>
            <a href="/pet/add">Add a Pet</a>
            <a href="/logout" >Log Out</a>
        </div>
    </nav>

    <div class="nav nav-pills nav-stacked" >
        <a href="/">Home</a>
    </div>

</div>

</body>
</html>