<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Best Friend</title>

    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
<div th:fragment="navigation" class="container">

    <nav th:if="${userId}" class="button">
        <ul class="nav nav-pills pull-right" style="text-align:right" >

            <li><a href="/pet/add">Add a Pet</a></li>
            <li><a href="/logout" >Log Out</a></li>
        </ul>
    </nav>

    <nav th:if="!#{userId}" class="button" >
        <a href="/">Home</a>
    </nav>

</div>

</body>
</html>