<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Best Friend</title>

    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
<div th:fragment="navigation">

    <nav th:if="${userId}">
        <ul class="nav nav-pills pull-right " style="text-align:right" >
            <li><a href="/" class="btn button">My Pets</a></li>
            <li><a href="/pet/add" class="btn button">Add a Pet</a></li>
            <li><a href="/logout" class="btn button">Log Out</a></li>
        </ul>
    </nav>

    <div  >
        <a href="/" class="btn btn-default">Home</a>
    </div>

</div>

</body>
</html>